<html>
    <head>
        <title>Piyush's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Piyush's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.05.2019, 22:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Never forget what you are, for surely the world will not. Make it your strength. Then it can never be your weakness. Armour yourself in it, and it will never be used to hurt you.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>When the snows fall and the white winds blow, the lone wolf dies but the pack survives.</p>
        </div>

        {% for post in posts %}
    		<div>
        		<p>published: {{ post.published_date }}</p>
        		<h2><a href="">{{ post.title }}</a></h2>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
		{% endfor %}
    </body>
</html>